* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #f5f5f5;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  padding-top: 80px; /* matches navbar height */
}
